/src/SharePlatform.Auth.EfRepository/obj
/src/SharePlatform.Auth.EfRepository/bin
/src/SharePlatformSystem/bin
/src/SharePlatformSystem/obj
/src/SharePlatformSystem.Auth.App/bin
/src/SharePlatformSystem.Auth.App/obj
/src/SharePlatformSystem.Infrastructure/bin
/src/SharePlatformSystem.Infrastructure/obj
/src/SharePlatformSystem.WebApi/bin
/src/SharePlatformSystem.WebApi/obj
/.vs
/src/SharePlatform.NHRepository/bin
/src/SharePlatform.NHRepository/obj
/src/SharePlatformSystem.AutoMapper/bin
/src/SharePlatformSystem.AutoMapper/obj
/src/SharePlatformSystem.Core/bin
/src/SharePlatformSystem.Core/obj
/src/SharePlatformSystem.Dapper/bin
/src/SharePlatformSystem.Dapper/obj
/src/SharePlatformSystem.HangFire/bin
/src/SharePlatformSystem.HangFire/obj
/src/SharePlatformSystem.Log4Net/bin
/src/SharePlatformSystem.Log4Net/obj
/src/SharePlatformSystem.NHibernate/bin
/src/SharePlatformSystem.NHibernate/obj
/src/SharePlatformSystem.Quartz/bin
/src/SharePlatformSystem.Quartz/obj
/src/SharePlatformSystem.Test/bin
/src/SharePlatformSystem.Test/obj
/src/SharePlatformSystem.TestBase/bin
/src/SharePlatformSystem.TestBase/obj
/src/SharePlatformSystem.Web.SignalR/bin
/src/SharePlatformSystem.Web.SignalR/obj
/src/SharePlatformSystem.Quartz.Test/bin
/src/SharePlatformSystem.Quartz.Test/obj
/back/SharePlatformSystem/src/SharePlatformSystem.Framework/obj
/back/SharePlatformSystem/src/SharePlatformSystem.Framework/bin
/back/SharePlatformSystem/src/SharePlatformSystem.Demo.MVC/obj
/back/SharePlatformSystem/src/SharePlatformSystem.Demo.MVC/bin
